body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    margin: 45vh auto;
}

.textarea {
    display: flex;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 1px;
    border-radius: 30px;
    width: 50vh;
    height: 2vh;
}

.button {
    display: inline;
    padding: 8.5px;
    margin: 7px;
    border-radius: 25px;
    color: red;
}

.button:hover {
    background-color: Black;
    color: red;
}

.textarea:hover {
    box-shadow: 2px 2px 0px 0px black;
}
